<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANEDUSHOP - Lead Your Future</title>
    <link rel="icon" type="image/png" href="/image/icon-conen.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/stylettct.css">
    
</head>
<body>
    <div id="header">
        <div id="menu-all">
            <div id="menu-logo">
                <a href="/index.html"><img id="logo" src="/image/logo.png" alt=""></a>
            </div>
            <div id="menu-mid">
                <div id="menu-general">
                    <ul>
                        <li><a href="/index.html">Trang chủ</a></li>
                        <li><a href="/khoahoc.html">Khóa học</a></li>
                        <li><a href="/aboutus.html">Về chúng tôi</a></li>
                        <li><a href="/lienhe.html">Liên hệ</a></li>
                        <li><a href="/labTH.html">LabTH</a></li>
                    </ul>
                </div>
                <div id="search">
                    <input id="input-search" type="text" placeholder="Tìm kiếm khóa học">
                    <button type="submit"><img src="/image/icons-search-32.png" alt="Search"></button>
                </div>
            </div>       
            <div id="menu-action">
                <a href=""><img src="/image/icons-heart-50.png" alt=""></a>
                <div id="gio-hang">
                    <button href=""><img src="/image/icons-cart-50.png" alt="">
                        <span class="quantity">0</span>
                    </button>
                    <div id="cart-mini">
                        <ul class="cart-items">Giỏ hàng hiện đang trống</ul>
                        <div class="tong-tien"></div>
                        <div id="btn-cart">
                            <a href="/chitietgiohang.html" class="cart-button"> Xem giỏ hàng </a>
                            <a href="/chitietgiohang.html" class="cart-button">Thanh Toán</a>
                        </div>
                    </div>
                </div>
                <a href="/login.html"><img src="/image/icons-user-48.png" alt=""></a>
            </div>
            <div class="menu-icon" onclick="toggleMenu()">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <nav class="menu-danhmuc">
                <div id="menu-mini-an">
                   
                        <a href="/index.html">Trang chủ</a>
                        <a href="/khoahoc.html">Khóa học</a>
                        <a href="/aboutus.html">Về chúng tôi</a>
                        <a href="/lienhe.html">Liên hệ</a>
                        <a href="/labTH.html">LabTH</a>
                    
                </div>
                
            </nav>
        </div> 
    </div>
    <div id="content">
        <div id="banner-school">
            <div class="overlay"></div>
            <div id="gr-td-dk">
                <h1 id="duongke">|</h1>
                <h1 id="tieude-banner">Quản Trị và Bán Hàng Đột Phá</h1>
            </div>
            
        </div>
        <div id="background">
            <div id="sevices">
                <div id="place">
                    <p>Trang chủ > Khóa học > Quản Trị và Bán Hàng Đột Phá </p>
                    <hr style="border-color: #666666;">
                    <br>
                </div>
                <div id="top-tt">
                    <div class="image-container">
                        <img src="/image/qtbanhang.jpg" alt="Product Image" width="400" height="400" id="product-image">
                    </div>
                    <!-- Thẻ div chứa thông tin -->
                    <div class="info-container">
                        <!-- Thẻ div chứa tiêu đề -->
                        <div class="title">
                            <h3>Quản Trị và Bán Hàng Đột Phá</h3>
                                <!-- Thông tin và giá -->
                                <div class="ql-price">
                                    <div class="price">399.000đ</div>
                                    <div class="old-price">1.000.000đ</div>
                                </div>
                        </div>
                        <!-- Thẻ div chứa thông tin người bán -->
                        <div class="seller-info">
                            <p>Người dạy: Nguyễn Văn Trường An</p>
                        <!-- Thẻ div chứa thông tin chi tiết sản phẩm -->
                        <div class="product-details">
                            <p>Ngày nay khách hàng rất thông minh, nếu bạn không trở thành người bán hàng xuất sắc bạn sẽ không bán được hàng. Bạn sẽ không biết đâu là điểm tử huyệt của khách hàng. Khách hàng quyết định rất nhanh là có mua sản phẩm của bạn hay không. Do đó bạn phải nằm được yếu tố cảm xúc then chốt. và khóa học này còn chia sẻ với bạn: Khi nào tiếp cần, khi nào giải trình, khi nào đồng điệu, khi nào chốt sale, chăm sóc và giải trình làm sao. Bạn khó khăn trong việc giải quyết vấn đề của khách hàng. Làm thế nào để bạn chốt được những đơn hàng khủng và khách hàng lại happy Làm thế nào để xây dựng hệ thống nhân lực, hệ thống phân phối mạnh mẽ Làm thế nào để vượt qua những kháng cự bên trong bạn và hành động với năng lượng đỉnh cao Làm thế nào để tư duy của bạn vượt thoat từ trong tâm thức của ban.</p>
                        </div>
                        <!-- Thẻ div chứa số lượng và button -->
                        <div class="tangiam">
                          
                        </div>
                        <!-- Thẻ div chứa button mua ngay và thêm vào giỏ -->
                        <div class="hanhdong">
                            <button class="buy-now">Mua Ngay</button>
                            <button class="add-to-cart">Thêm vào giỏ</button>
                        </div>
                    </div>
                </div>
               
            </div>
            <div id="lo-trinh">
                <h3>Lợi ích từ khóa học</h3>
                <ul>
                   
                    <li>Cách tạo ra nhiều giá trị cho xã hội mà không tốn nhiều sức.</li>
                    <li>Biết cách tạo ra nhiều tiền trong tâm thức.</li>
                    <li>Vượt qua được nỗi sợ trong bán hàng.</li>
                    <li>Biết được quy trình bán hàng đột phá.</li>
                    <li>Biết cách xây dựng đội ngũ gắn kết.</li>
                    <li>Biết trở thành nhà lãnh đạo với những phẩm chất xuất sắc.</li>
                    <li>Biết các quy trình tiếp thị quan trong Marketing MIC.</li>
                    <li>Biết cách xây dựng hệ thống bán hàng B2B và B2C.</li>

                </ul>
                <h3>Lộ trình của khóa học</h3>
                <div class="course-timeline">
                    <div class="step">
                        <div class="step-number">1</div>
                        <div class="step-info">Giới thiệu tổng quan</div>
                        <div class="step-time"> 11:00:02</div>
                    </div>
                    <div class="step">
                        <div class="step-number">2</div>
                        <div class="step-info">
                            Giải phóng năng lượng bán hàng</div>
                        <div class="step-time"> 11:00:02</div>
                    </div>
                    <div class="step">
                        <div class="step-number">3</div>
                        <div class="step-info">Các bước bán hàng đột phá</div>
                        <div class="step-time"> 11:00:02</div>
                    </div>
                    <div class="step">
                        <div class="step-number">4</div>
                        <div class="step-info">Chiến lược tiếp thị 6p</div>
                        <div class="step-time"> 11:00:02</div>
                    </div>
                    <div class="step">
                        <div class="step-number">5</div>
                        <div class="step-info"> Hành động nhà lãnh đạo</div>
                        <div class="step-time"> 11:00:02</div>
                    </div>
                    <div class="step">
                        <div class="step-number">6</div>
                        <div class="step-info">Tổng kết</div>
                        <div class="step-time"> 11:00:02</div>
                    </div>
                    <!-- Thêm các bước khác tương tự -->
                </div>
            </div>
            <div id="danh-gia">
                <h3>Đánh giá của học viên</h3>
                <div class="review">
                    <div class="comment">
                        <!-- Thêm ảnh comment của học viên -->
                        <img src="/image/danhgia1.png" alt="Hình ảnh đánh giá">
                        <img src="/image/danhgia2.png" alt="Hình ảnh đánh giá">
                    </div>
                    
                </div>
                <!-- Thêm các đánh giá khác tương tự -->
            </div>
            <div class="cauhoi-thuonggap">
                <h3>Các câu hỏi thường gặp</h3>
                <div class="list-cauhoi">
                    <p>Thời gian hỗ trợ dịch vụ CSKH như thế nào ?</p>
                    <p>Làm thế nào để học trên nhiều thiết bị khác nhau?</p>
                    <p>Cách liên hệ nhanh nhất với CSKH ?</p>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-ct">
        <div id="footer-top">
            <div class="footer-section">
                
                <img id="footer-top-logo" src="/image/logo.png" alt="Logo">
                <br>
                <span>An Edu Shop đồ án webisite cuối kì môn học thực hành nhập môn web</span>
            </div>
            <div class="footer-section">
                <!-- Thẻ div chứa thông tin -->
                <p id="dc-footer">THÔNG TIN</p>
                <ul id="information-footer">
                    <li>Lớp D21_TH01 tại Việt Nam</li>
                    <li>Địa chỉ: 180 Cao Lỗ, Phường 4, Quận 8, TP Hồ Chí Minh</li>
                    <li>Email: DH52100001@student.stu.edu.vn</li>
                    <li>Điện thoại: (028) 38 505 520</li>
                </ul>
            </div>
            <div class="footer-section">
                <!-- Thẻ div chứa iframe dẫn link đến Google Map -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15679.817641153899!2d106.6778321!3d10.7379972!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f62a90e5dbd%3A0x674d5126513db295!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBDw7RuZyBuZ2jhu4cgU8OgaSBHw7Ju!5e0!3m2!1svi!2s!4v1714446027103!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div id="footer-bottom">
            <div id="container">
                <div id="row">
                    <hr id="hr">
                    <div id="footer-copyright">
                        <span>Họ và tên: Nguyễn Văn Trường An | MSSV: DH52100001 | Lớp:D21_TH01 | Ca 3 | Thứ 7</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <span id="scrollToTop" class="scrollToTop">&#9650;</span>
    <script src="/js/script.js"></script>
</body>
</html>s